.table__container {
    padding: 0px 20px 0px 20px;
    
}


.table__content {
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    background-color: #313348;
    overflow: hidden;
}

.table__head {
    background-color: #6f6486;
    height: 54px;
    color: #ffffff;
}

.table__head th:first-child {
    border-top-left-radius: 10px;
}

.table__head th:last-child {
    border-top-right-radius: 10px;
}

.table__td {
    padding: 10px;
    color: #ffffff;
}

.table__row--1 {
    background-color: #262437;
}

.table__option {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.table__option--modify {
    background-color: #67a179;
}

.table__option--delete {
    background-color: #eb3461;
}

.table__option:hover {
    background-color: #9086a9;
}

.table__td--options {
    display: flex;
    gap: 12px;
    justify-content: right;
}
